
a.desc {
    position: relative;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

a.desc span {
    position: absolute;
    width: 200px;
    color: #FFFFFF;
    background: #000000;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}

a.desc span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 0;
    height: 0;
    border-top: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

a:hover.desc span {
    visibility: visible;
    border: 0;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: #ffffff;
    color: #000;
    font-size: 11px;
    font-variant: small-caps;
    left: 5px;
    bottom: 5px;
    position: absolute;
    opacity: 0.90;
    width: 125px;
    text-align: left;
    word-wrap: normal;
    text-decoration: none
}
