
/* Select */
button,
select {
    text-transform: none;
    border: none;
    font-family: Montserrat, sans-serif;
}

#option_selector {
    display: block;
    padding: 13px 16px;
    width: 200px;
    margin: 0 8px 8px 5px;
    position: page;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    border-left: 4px solid #739cda;
    background: #fff;
    color: #656565;
    font-weight: normal;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    font-size: 13px;
}

#option_selector:hover {
    color: #100f10;
}

#option_selector:focus-within {
    border: 0;
    left: -9999px;
    top: -9999px;
    list-style-type: none;
    z-index: 0;
    font-family: Montserrat, sans-serif;
}


/* Case https://cdnjs.com/libraries/select2 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 13px;
    padding-top: 5px;
}

.select2-container--default .select2-selection--single {
    background-color:#ffffff;
    color: #656565;
    display: block;
    border: 0;
    border-radius: 3px;
    border-left: 4px solid #739cda;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.select2-container--default, .select2-selection--single {
    margin-left: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 5px;
    right: 1px;
    width: 20px
}

.select2-container .select2-selection--single {
    height: 39px;
}

