/* index */
table.index {
    border-spacing: 11px;
    border: 0;
    margin-left: 5px;
    margin-top: 25px;
    table-layout: fixed;
    width: 90%;
    text-wrap: wrap;
}

.index {
    a {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        margin: 0 10px 0 10px;
        padding: 10px 10px 10px 10px;
        border: 0;
        background: #eeeeee;
        text-decoration: none;
        font-variant: small-caps;
        min-width: 50px;
        height: 50px;
        -webkit-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out
    }
    a:link {
        color: #000000;
        text-decoration: none;
    }
    a:hover {
        background: #000000;
        color: #ffffff;
        text-decoration-line: underline;
        text-decoration-color: #ffffff;
    }
}



/* entre */
.entre {
    a {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        margin: 0 10px 0 10px;
        padding: 10px 10px 10px 10px;
        border: 0;
        background: #eeeeee;
        text-decoration: none;
        font-variant: small-caps;
        min-width: 100px;
        height: 100px;
    }
    a:link {
        color: #000000;
        text-decoration: none;
    }
    a:hover {
        background: #000000;
        color: #ffffff;
        text-decoration-line: underline;
        text-decoration-color: #ffffff;
    }
    a:visited {
        color: #a09d9d;
        text-decoration: none;
    }
}


/* Open */
table.open {
    border-collapse: separate;
    border-spacing: 0 17px;
    border: 0;
    margin-left: 0;
    margin-top: 25px;
    table-layout: fixed;
    width: 90%;
    text-wrap: wrap;
}

.open {
    td, th {
        padding: 0;
        vertical-align: top;
    }

    td {
        word-wrap: normal;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
