/* Open */
table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto 35px auto;
}

td,
th {
    padding: 0;
    vertical-align: top;
}

td {
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* index */
table.index {
    border-spacing: 11px;
    border: 0;
    margin-left: 5px;
    margin-top: 25px;
    table-layout: fixed;
    width: 90%;
    text-wrap: wrap;
}


a.index {
    text-decoration: none;
    color: #afacac;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}

a.index:hover {
    color: #282828;
}

a[title].index:hover:after {
    content: attr(title);
    border: 0;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.index h3 {
    opacity: 0.9;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 700;
}

.index p {
    margin-top: 0;
    margin-bottom: 20px;
}
